<div class="container text-center mt-5 card rounded-4 shadow-sm">
  <div class="d-flex align-items-center mt-4">
    <i class="bi bi-person-circle ms-3 fs-1"></i>
    <h2 class="ms-3 mt-2 text-start">Cadastro de Pessoas</h2>
  </div>

  <div
    class="container mt-4 mb-3 d-flex justify-content-between align-items-center flex-nowrap gap-3 w-75 nowrap-text ">

    <!-- Campo de busca -->
    <div class="d-flex justify-content-center me-sm-3 w-100">
      <div class="position-relative custom-width-search">
        <i
          class="bi bi-search border-secondary text-muted position-absolute top-50 start-0 translate-middle-y ms-3"></i>
        <input type="search" class="form-control rounded-pill ps-md-5" placeholder="Buscar..." aria-label="Buscar"
          [formControl]="searchControl">
      </div>
    </div>

    <button class="btn btn-cadastrar bg-add shadow-sm rounded-pill py-2 px-4" type="button" (click)="abrirOffcanvas()">
      <i class="bi bi-person-plus-fill fs-6"></i>
    </button>
  </div>

  <div class="container d-flex justify-content-center mb-4 nowrap-text table-wrapper  ">
    <div class="table-responsive shadow-sm rounded-4 border w-100 ">

      <div appDragScroll class="overflow-auto overflow-table-oculto">
        <table class="table align-middle table-hover ">
          <thead class="table-light sticky-top">
            <tr>
              <th>#</th>
              <th>Foto</th>
              <th>Name</th>
              <th>Profissão</th>
              <th>Cidade</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngIf="noResults">
              <td colspan="6" class="text-center">Nenhum resultado encontrado!</td>
            </tr>
            <tr *ngFor="let cadastro of getItemsPaginated(); trackBy: trackById">

              <td>{{cadastro.id}}</td>
              <td class="align-middle text-center ">
                <ng-container *ngIf="cadastro.foto; else noPhoto">
                  <img [src]="cadastro.foto" alt="foto" class="img-thumbnail rounded-pill shadow-sm object-fit-cover ">

                </ng-container>
                <ng-template #noPhoto>
                  <div class="rounded-circle d-inline-block">
                    <i class="bi bi-person-circle text-muted fs-1"></i>
                  </div>
                </ng-template>
              </td>
              <td>
                <span class="fw-semibold">{{ cadastro.nome }}</span><br>
                <span class="text-black-50 fst-italic">{{ cadastro.email }}</span>
              </td>
              <td>{{ getProfissaoLabel(cadastro.profissao) }}</td>
              <td>
                <span class="fw-semibold">{{ cadastro.cidades }}</span><br>
                <span class="text-muted">{{ cadastro.estados }}</span>
              </td>
              <td>
                <button type="button"
                  class="badge btn btn-sm bg-edit text-dark rounded-pill px-3 shadow-sm nowrap-text me-2"
                  (click)="edit(cadastro)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button"
                  class="badge btn btn-sm bg-remove text-dark border-warning rounded-pill px-3 shadow-sm nowrap-text"
                  (click)="deleteById(cadastro)">
                  <!-- Deletar -->
                  <i class="bi bi-trash3"></i>
                </button>
              </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Dropdown -->
  <div class="d-flex flex-wrap m-3 justify-content-between justify-content-md-between
            justify-content-center justify-content-sm-center align-items-center force-center-mobile">

    <div class="me-5 mb-4 text-nowrap">
      Total:<span class="badge bg-add text-white rounded-pill shadow-sm px-3 py-2 mx-2 me-4" translate="no">{{
        totalItens }}</span>

      <label for="pageSize" class="me-2 small-responsive">Itens por página</label>
      <select id="pageSize" class="badge text-bg-light text-start form-select rounded-pill shadow-sm pe-4 py-2 w-25 "
        [(ngModel)]="pageSize" (change)="onPageSizeChange()">
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="lista.length">Todos</option>
      </select>
    </div>

    <!-- Paginação (prev / pages / next) -->
    <nav aria-label="Page navigation  ">
      <ul class="pagination">
        <li class="page-item me-2 " [class.disabled]="currentPage === 1">
          <a class="btn btn-rounded btn-sm border rounded-pill shadow-sm p-0 px-3 "
            (click)="changePage(currentPage - 1)">
            <!-- Esquerda -->
            <i class="bi bi-chevron-left"></i>
          </a>
        </li>
        <!-- Valor -->
        <li class="page-item me-2" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
          <a class="page-link rounded-pill shadow-sm p-0 px-3" (click)="changePage(page)">{{page}}</a>
        </li>
        <li class="page-item " [class.disabled]="currentPage === totalPages">
          <a class="btn btn-rounded btn-sm border rounded-pill shadow-sm p-0 px-3"
            (click)="changePage(currentPage + 1)">
            <!-- Direita -->
            <i class="bi bi-chevron-right"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="offcanvas offcanvas-end rounded-start-5 custom-offcanvas" tabindex="-1" id="offcanvasCadastro"
  aria-labelledby="offcanvasCadastroLabel">

  <div class="offcanvas-header border-bottom bg-teal-400 d-flex justify-content-between pb-4 ">

    <div class="d-flex align-items-center mt-4 text-secondary">
      <i class="bi bi-person-circle ms-1 me-3 fs-1 "></i>
      <h3 class="mt-2">Cadastre</h3>
    </div>

    <button type="button" class="btn btn-sm bg-close rounded-pill shadow-sm me-3 px-3 mt-3" data-bs-dismiss="offcanvas"
      aria-label="Close" (click)="fecharOffcanvas()">
      <i class="bi bi-x-lg"></i>
    </button>

  </div>
  <div class="offcanvas-body">
    <app-cadastro [cadastroSeletor]="cadastroEdit" (retorno)="retornoCadastro($event)"></app-cadastro>
  </div>
</div>